div {
	width: 250px;
	height: 242px;
	padding: 10px;
	margin: 10px;
	display: inline-block;
	background: url(https://mdn.mozillademos.org/files/13090/colorful-heart.png) no-repeat center 20px;
    background-color: green;
}   

.multiply {
	background-blend-mode: multiply;
}

article {
	width: 280px;
	height: 180px;
    position: relative;	
	display: inline-block;
}




article div:first-child {
	position: absolute;
	top: 10px;
	left: 0;
	background: url(https://mdn.mozillademos.org/files/13090/colorful-heart.png) no-repeat center 20px;
    background-color: green;
} 



article div:last-child {
	background-image: none;
	background-color: purple;
	position: absolute;
	top: 20px;
	right: 0;
	z-index: -1;
}

.multiply-mix {
	mix-blend-mode: multiply;
}

.text-clip {
	font-family: Arial;
	font-size: 2.0rem;
	position: relative;
	top: 100px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
